---
---
<footer class="site-foot">
    <div>&copy; {new Date().getFullYear()} <a href="/">TSAKA TSOUKA</a></div>
    <div>
        Powered by <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> |
        Licensed under <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">MIT</a>
    </div>
</footer>
